body {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}
h1,
h2,
h3 {
  font-weight: 100;
}

ul {
  padding: 0;
}

/**
 * LogInBox
 */
.log-in-box {
  padding: 100px 0;
}

.log-in-box__logo {
  width: 200px;
}

.log-in-box__title {
  font-size: 2em;
}

.log-in-box__button {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
}

.log-in-box__button:hover {
  background-color: #44C7F4;
}

.log-in-box__button:focus {
  outline: none !important;
}

.log-in-box__button.btn-lg {
  padding: 20px 30px;
}

@media( min-width: 755px ) {
  .log-in-box__button {
    width: 720px;
    margin: auto;
  }
}

/**
 * LoggedIn
 */
.logged-in__error {
  padding: 100px 0;
}

.logged-in__error__logo {
  width: 200px;
}

.logged-in_error__button {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
}

.logged-in_error__button:hover {
  background-color: #44C7F4;
}

.logged-in_error__button:focus {
  outline: none !important;
}

.logged-in_error__button.btn-lg {
  padding: 20px 30px;
}

@media( min-width: 755px ) {
  .logged-in__error__button {
    width: 720px;
    margin: auto;
  }
}

/**
 * Header
 */
.header__logo {
  width: 100px;
}

.header__title {
  font-size: 2em;
  margin-top: 0px;
}

/**
 * Library
 */
.library__title {
  font-size: 1.2em;
}

.add-location-button {
  margin-bottom: 10px;
}

.library-location {
  list-style: none;
  text-align: left;
  padding: 5px 0;
  margin: 5px 0px;
}

.library-location__controls {
  padding: 30px;
  color: #999;
}

.library-location__description__name {
  margin: 10px 0px;
}

/**
 * Trip
 */
.trip__title {
  font-size: 1.2em;
}

/**
 * Footer
 */
.footer {
  font-size: 1em;
}
